---
import Tour from '../components/Tour.astro';


let title = 'GREGFEST | 2022';
---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{title}</title>

        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    
    <link rel="stylesheet" href="/style/global.css">
    <link rel="stylesheet" href="/style/home.css">
    <link rel="icon" href="/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap"
        rel="stylesheet"
    />
</head>
<body>
    <main>
        <header>
                <div style="position: relative;">
                    <img src="https://res.cloudinary.com/dep74pn0n/image/upload/c_crop,g_auto,h_194,w_527/v1634536541/Consejos-para-iniciar-un-grupo-de-alabanza-removebg-preview_ybo9cx.png"/>
                    <h1>GREGFEST<span class='star'>*</span></h1>
                    <span class="star explained">* name not endorsed by Greg</span>
                </div>
        </header>
        <section>
        <div class="intro">
            Join us to celebrate Greg's 40th birthday with weekend of camping, live music and good vibes.
        </div>
            <table>
            <tr>
                <th> When </th> <td> 1 January 2022, midday-late </td>
            </tr>
            <tr>
                <th> Where </th> <td> Terara Park, 10 mins from Nowra </td>
            </tr>
            <tr>
                <th> What </th> <td> Music from 1pm. Lunch, dinner, drinks and snacks provided.  </td>
            </tr>
            </table>
            <div>
                Limited camping onsite or book accommodation nerby.
            </div>
        <div>
            <div>
            <b>RSVP and questions:</b>
            </div>
            <div>
            gjmcknight@gmail.com or 0447 266 053
            </div>
            <div>
            jessie_foran@yahoo.com or 0459 062 751
            </div>
        </div>
        </section>
    </main>
    <video playsinline autoplay muted loop>
        <source src="https://res.cloudinary.com/dep74pn0n/video/upload/q_50/v1634535410/Blue_Sky_Video_z3buxk.mp4" type="video/mp4">
        <source src="https://res.cloudinary.com/dep74pn0n/video/upload/q_50/v1634535410/Blue_Sky_Video_z3buxk.webm" type="video/webm">
    </video>
</body>
</html>
